{
    "environment" : "local",
    "name" : "",
    "url"  : "",
    "driver" : "mysql",
    "host": "127.0.0.1",
    "database" : "",
    "database_user" : "",
    "database_password" : "",
    "cors_allowed" : [
        "http:\/\/127.0.0.1:3000"
    ]
}
