<?php

  /**
   * {{SEED_NAME}} Database Seeder
   * To learn more about seeding data go here: http://...
   * 
   */

  class {{SEED_NAME}} extends ZincDBManager {

    /**
     * Run the seeder.
     * @param   object  $db   ZincPHP MySQL database instance.
     */
    function run ( $db ) {

      $db->table( '{{SEED_TABLE}}' )->insert( [

      ] );

    }

  }