<?php

  /**
   * Yet another migration class.
   * To learn more about migrations go here: http://...
   * 
   */

  class {{Migration}} extends ZincPHPMigrater {

    function up () {
      return $this->db->createTable( '{{MigrationRawName}}' )
        ->increments( 'id' )


        ->timestamps() // timestamps will create a created_at and updated_at column
        
        // Use commonColumns() that will create four common columns,
        // is_active, created_by, created_at and updated_at!

      ->query();
    }

  }