<?php

  /**
   * A migration example class.
   *
   * Using timestamps() method will create a "created_at" and "updated_at" column.
   *
   * Using commonColumns() method will create four common columns,
   * -> "is_active", "created_by", "created_at" and "updated_at"!
   * 
   */

  class {{Migration}} extends ZincPHPMigrater {

    function up () {
      return $this->db->createTable( '{{MigrationRawName}}' )
        ->increments( 'id' )

        ->timestamps()
      ->query();
    }

  }