<?php

  /**
   * Yet another migration class.
   * To learn more about migrations go here: http://...
   * 
   */

  class {{Migration}} extends ZincPHPMigrater {

    function up () {
      return $this->db->createTable( '{{MigrationRawName}}' )
        ->increments( 'id' )
      ->query();
    }

  }