<?php

  /**
   * {{SEED_NAME}} Database Seeder.
   * To insert single item use an associative array in insert method.
   * To insert multiple items pass a list of associative array in insert method.
   * 
   */

  \App::db( '{{SEED_TABLE}}' )->insert([
    // Seed data goes here...
  ]);